// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary:#00ac51;
$primary-500: white;
$secondary:black;
$secondary-300: #3F3F3F;
$secondary-200: #0a2a31;

$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;
$mypc: 1199.98px;

body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: $primary-500;
    color: $secondary;
    height: 0 auto;
    width: 0 auto;
    box-sizing: border-box;
    
}
//
.laguage-bar{
    height: 25px;
    background: $secondary-200;
}
//header
.top-header{
    background: white;
    height: 90px;
    display: flex;
    align-items: center;

    @media(max-width:$md){
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
    .Login-button{
        min-width: 140px;
        height: 48px;
        margin-right: 20px;
        display: flex;
        justify-content: left;
        @media (min-width: $mypc){ 
            margin-right: 800px;
        }
        .button{
            width: 130px;
            position: static;
            border: none;
            background: $primary;
            color: white;
            padding: 12px;
            text-align: center;
            cursor: pointer;
            font-size: 15px;
            //overflow-x: hidden;
        }

    }

    .search-container{
        width: 250px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        
        .search-button{
            width: 50px;
            height: 48px;
            background: $secondary-200;
            padding:5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .fa{
                color: white;
            }
        }
        .search-input-holder{       
            border: 1px solid $secondary;
            background: $primary-500;
            padding:5px;
            width: 200px;
            align-items: center;
            z-index: 50;
            input{
                flex:1;
                font-size:20px;
                padding:3px;
                width: 180px;
                border: none;
                &::placeholder{
                    font-weight: bold;
                    color: $secondary;
                }
            }
        }
    } 

    @media (max-width: $xl){
        .Login-button{
            display: none;
        }
        
        .search-container{
            display: none; 
        }         
    } 
    .row-align-item-center{
        width: 1000px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media (max-width: $md){
            
            display: flex;
            justify-content: flex-start;
            margin-left: 50px;
            
        } 
        @media (min-width: $mypc){ 
            width: 700px;
        }
        .Logo{
            width: 400px;
            min-width: 300px;
        }    

        .top-header-contact{
            display: flex;
            width: 600px;
            height: 50px;
            @media (max-width: $xl){
               justify-content: space-around;
               justify-content: flex-start;
            }
            a{
                display: inline-block;
                color: $primary;
                border: 3px solid $primary;
                padding:0.5em 1.5em;
                background: white;
                border-radius: 1.5em;
                margin-left: 1em;
                &.top-header-contact-email{
                    @media (max-width: $xl){
                        display: none;
                    }
                    @media (min-width: $mypc){
                       display: none;
                    }
                }
                &.top-header-contact-phone{
                    @media (max-width: $md){
                        display: none;
                    }
                }
                .fa{
                    color:$primary;
                    margin-right: 0.5em;
                    
                }
            }
        }
    }
    
    
}

//Main-nav dropdown menu
#main-nav{
    background: $primary;
    margin-left: 20%; 
 
    @media (min-width: $xl){
        .Login-button{
            display: none;
        } 
        .search-container{
            display: none; 
        }        
    }
    .container{
        @media (max-width: $xl){
            
            .search-container{
                width: 250px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                
                .search-button{
                    width: 50px;
                    height: 40px;
                    background: $secondary-200;
                    padding:5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .fa{
                        color: white;
                    }
                }
                .search-input-holder{       
                    border: 1px solid $secondary;
                    background: $primary-500;
                    padding:1px;
                    width: 200px;
                    align-items: center;
                    input{
                        flex:1;
                        font-size:20px;
                        padding:3px;
                        width: 180px;
                        border: none;
                        &::placeholder{
                            font-weight: bold;
                            color: $secondary;
                        }
                    }
                }
            }
            .Login-button{
                min-width: 140px;
                height: 40px;
                margin-right: 20px;
                display: flex;
                justify-content: left;
                
                .button{
                    width: 130px;
                    position: static;
                    border: none;
                    background: $secondary-200;
                    color: white;
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 15px;
                }
        
            }
            @media (max-width: $md){         
                .search-container{
                    display: none;
                }             
            }
        }
        .mobile-menu-dropdown{
            display: none;
            justify-content: center;
            margin-left: 10px;
            @media (max-width: $xl){
                display: block;
            }
            button{
                border: none;
                color: $primary-500;
                font-weight: normal;
                padding: 6px;
                span{
                margin-right: 0.5em;
                }
            }
            &:hover{
                background: #0a7e40;
            }
            
        }
    }
    #main-menu{
        li{
            a{
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color:$primary-500;
                padding-left: 15px;
                padding-right: 15px;
            }
            &.current-menu-item{
               a{
                color: $secondary;
               }  
            }
        }
    }
}

.home-page{
    padding-top: 0px;
}

.home-main-info{
    position: relative;
    z-index: 1;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    //makes the green line behind the 3 info boxes.
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 225px;
        bottom: 75px;
        left:0; right:0;
        background:rgba($primary, 0.8);
    }
    .container{
        width: 90%;
        margin: 0 auto;
        max-width: 1400px;
        @media (max-width: $md){
            width: 100%;
        }
        .felxbox{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .back-box-left{
                width: 33.33%;
                position: relative;
                background: $secondary-200;
                margin-top: 150px;
                @media (max-width: $md){
                    width: 90%;
                    margin-bottom: -30px;
                    z-index: 5;
                }
                .back-box-left-title{
                    h3{
                        text-align: center;
                        font-weight: 700;
                        font-size: 1em;
                        color: $primary-500;
                        padding: 3rem 0;
                    }
                }
                .back-box-left-info{
                    display: flex;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    p{
                        padding: 0 1rem;
                        color: $primary-500;
                        
                    }
                }
                .back-box-left-icon{
                    position: absolute;
                    opacity: .5;
                    left: 0;
                    bottom: 0;
                    .fa{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 10rem;
                        height: 12rem;
                        color:$primary;
                        object-fit: contain;
                        
                       
                    }  
                }
                
            }
    
            .front-box-cenetr{
                width: 33.33%;
                position: relative;
                background: $primary;
                margin-top: 120px;
                margin-bottom: -30px;
                @media (max-width: $md){
                    width: 100%;
                    margin-top: 0;
                }
                .front-box-cenetr-title{
                    h3{
                        text-align: center;
                        font-weight: 700;
                        font-size: 1em;
                        color: $primary-500;
                        padding: 3rem 0;
                    }
                    p{
                        padding: 0 1rem;
                        color: $primary-500;
                        line-height: 1.5;
                    }
                }
                .front-box-cenetr-icon{
                    display: flex;
                    justify-content: center;
                    @media (max-width: $md){
                        display: flex;
                        justify-content: center;
                        margin-right: 50px;
                    }
                    .fa{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 21rem;
                        height: 8rem;
                        margin-bottom: 30px;
                        color:$primary-500;
                        object-fit: contain;
                    }  
                }
                
            }
    
            .back-box-right{
                width: 33.33%;
                position: relative;
                background: $secondary-200;
                margin-top: 150px;
                @media (max-width: $md){
                    width: 90%;
                    margin-top: 0;
                }
                .back-box-right-title{
                    h3{
                        text-align: center;
                        font-weight: 700;
                        font-size: 1em;
                        color: $primary-500;
                        padding: 3rem 0;
                    }
                    p{
                        padding: 0 1rem;
                        line-height: 1.5;
                        color: $primary-500;
                    }
                }
                .back-box-right-icon{
                    display: flex;
                    justify-content: center;
                    .fa{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 21rem;
                        height: 8rem;
                        margin-bottom: 30px;
                        color:$primary-500;
                        object-fit: contain;
                    } 
                }
            }
        }
    } 
}

 /* The Register (background) */
.register{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(240, 234, 234, 0.4); /* Black w/ opacity */
    padding-top: 60px;

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 95%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
  
    /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 95%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
        padding-bottom: 10px;
        position: relative;
    }
    
    .reg-container {
        padding: 16px;
        input:invalid+span:after {
            position: absolute; content: '✖';
            padding-left: 5px;
            color: #8b0000;
        }
          
        input:valid+span:after {
            position: absolute;
            content: '✓';
            padding-left: 5px;
            color: #009000;
        }
    }

    /* Register Content/Box */
    .register-content {
        background-color: #fefefe;
        margin: 8% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 35%; /* Could be more or less, depending on screen size */
        @media (max-width: $lg) {
            width: 50%;
        }
        @media (max-width: $sm) {
            width: 80%;
        }
    }
    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
        
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
}

  /* The Modal (background) */
.login{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(240, 234, 234, 0.4); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
    /* Full-width input fields */

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
  
  /* Set a style for all buttons */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
  
    button:hover {
        opacity: 0.8;
    }
  
  /* Center the image and position the close button */
    .imgcontainer {
        padding-bottom: 10px;
        position: relative;
    }
  
    .log-container {
        padding: 16px;
        padding-bottom: 25px;
        overflow-x: hidden;
    }
  
    span.psw {
        float: right;
        margin-left: 40px;
    }
    
    span.reg {
        float: right;
        
    }
    
    /* Modal Content/Box */
    .login-content {
        background-color: #fefefe;
        margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 35%; /* Could be more or less, depending on screen size */
        @media (max-width: $lg) {
            width: 380px;
        }
        @media (max-width: $sm) {
            width: 380px;
        }
    }
    
    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
        
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        span.reg {
            display: block;
            float: none;
        }
    }
}

#wrapper-footer{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 0;
    background: $secondary-200;
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .footer-flex-box{
            display: flex;
            justify-content: flex-start;
            @media (max-width: $md){
                display: block;
            }
            .footer-privacy-policy{
                padding: 10px;
                h4{
                    @media (min-width: $lg){
                        white-space: nowrap;
                    }
                    margin-left: 25px;
                    color: $primary-500;
                }
            }
            .footer-popular-shortcuts{
                padding: 10px;
                h4{
                    @media (min-width: $lg){
                        white-space: nowrap;
                    }
                    margin-left: 25px;
                    color: $primary-500;
                }
            }
            .footer-contacts{
                padding: 10px;
                h4{
                    margin-left: 25px;
                    color: $primary-500;
                }
            }
            .footer-icons{
                padding: 10px;
                .footer-logo{
                    margin-bottom: 30px;
                    img{
                        width: 300px;
                        min-width: 250px;
                    } 
                }
                .footer-folow-us{  
                    @media (max-width: $md){
                       margin-left: 100px;
                    } 
                    width: 50px;
                    height: auto; 
                }
            }
        }
        
    }
}

.page-header-hholder{
    margin-top: 50px;
    margin-left: 25px;
}

.work-time-info-box{
    margin-top: 40px;
    border: 1px solid rgba(0,0,0,.1);
    width: 250px;
    padding: 10px;
    .list-wrapper{
        .heading{    
            font-weight: 400;  
        }
        
    }
    .title{
        font-weight: 700;
        font-size: 1em;
        span{
            font-weight: 400;
        }
    }
}

.template-kontakti{
    position: relative;
    .row{
        background: $secondary-200;
        height: 480px;;
    }
    
    .site-main{
        margin-top: 60px;
        .entry-content{
            font-size: 20px;
            color: rgba(255,255,255,.5);
            h4{
                color: $primary-500;
            }
            i{       
                color: $primary;
                min-width: 40px;  
              
            } 
        }
    }
    .iframe-holder{ 
        position: relative;
        height: 490px;
        width: 650px;
        margin-bottom: 50px;
        margin-right: 50px;;
        overflow: hidden;
       
        iframe{
            position: absolute;
            top: 0;bottom: 0;left: 0;right: 0;
        }
    } 
     
}

.template-vakances{
    font-size: 20px;
}
.reservation-content{
    .res-container{
        padding:16px;
        .users-data{
            @media (max-width: $md){
                display: block;
            }
            label{
                @media (max-width: $lg){
                    margin-left: 40px;
                }
                @media (max-width: $md){
                    margin-left: 40px;
                }
            }
            input[type=text], input[type=tel]{
                width: 40%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                @media (max-width: $lg){
                    margin-left: 40px;
                }
                @media (max-width: $md){
                    width: 70%;
                }
            }
            input:invalid+span:after {
                position: absolute; content: '✖';
                padding-left: 5px;
                color: #8b0000;
            }
              
              input:valid+span:after {
                position: absolute;
                content: '✓';
                padding-left: 5px;
                color: #009000;
            }
        }
        .date-time{
            input[type=date]{
                padding: 5px;
            }
            input[type=time]{
                padding: 5px;
                margin-left: 25px;
            }
            @media (max-width: $lg){
                input[type=date]{
                    padding: 5px;
                    margin-left: 40px;
                }
                input[type=time]{
                    padding: 5px;
                    margin-left: 25px;
                }
            }
            @media (max-width: $md){
                display: flex;
                justify-content: flex-start;
                input[type=date], input[type=time]{
                    padding: 5px;
                    margin-left: 40px;
                }
            }
            input:invalid+span:after {
                position: absolute; content: '✖';
                padding-left: 5px;
                color: #8b0000;
              }
              
              input:valid+span:after {
                position: absolute;
                content: '✓';
                padding-left: 5px;
                color: #009000;
              }
        }
        #loc{
            @media (max-width: $lg){
                margin-left: 40px;
                width: 87%;
            }
            @media (max-width: $md){
                margin-left: 40px;
                width: 70%;
            }
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        /* Set a style for all buttons */
       .res-button{
            margin-top: 10px;
            @media (max-width: $lg){
                margin-left: 40px;
                margin-top: 10px;
            }
            @media (max-width: $md){
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
            }
            button {
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 40%;
            }
            
            button:hover {
                opacity: 0.8;
            }
       }
        .res-map{
            float: right;
            @media (max-width: $lg){
                display: none;
            }
            .iframe-holder{ 
                position: relative;
                margin-left: 100px;
                height: 500px;
                width: 400px;
                overflow: hidden;
                
                iframe{
                    position: absolute;
                    top: 0;bottom: 0;left: 0;right: 0;
                }
            } 
        }
    }
}


